.onboarding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #121212; 
    color: #fff;
    text-align: center;
  }

.room-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 1.8rem;
    font-weight: 600;
}

.join-button {
    margin-top: 20px;
    padding: 15px 80px;
    background-color: #c9b458;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.play-button {
    margin-top: 80px;
    padding: 15px 80px;
    background-color: #c9b458;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}
  
.play-button:hover {
    background-color: #b8a34c;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin-top: 10px;
}

.icon-row {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
  
.icon-tile {
    display: inline-block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    background-color: #6aaa64;
    color: #fff;
    border-radius: 5px;
}
